h1{
    font-size: 10pt;
    padding-left: 0pt;  
    margin: auto; 
    text-align: center; 
}

h1 span{
    font-size: 12pt;
}

h2{
    padding-left: 5px;
    font-size: 11pt;
    text-align: left;
}

li{
    margin-top: 5px;
}

ul{
    margin-left: -35px;
    text-align: left;
}


.content{
    border-radius: 5px;
}

.a-hotel{
    font-size: 8pt;
}

.main-img{
    display: block;
    width: 90%;
    height: auto;
    border-radius: 5px;
    float: center;
    margin: 10px 5%;
}

.text-info{
    font-size: 7pt;
    text-align: left;
}

.text-info ul{
    line-height: 12pt;
}   

.main-info{
    line-height: 12pt;
}